vault_ad_connect_user.yml
vault_vcenter_deploy.yml
vault_linux_sub_manager.yml
vault*

.vscode/*

terraform/*.auto.tfvars
group_vars/all.yml
group_vars/all/*.yml
reports/*
packer/**/auto.pkrvars.hcl
packer/**/okd-template.env
packer/**/iso-upload.env
packer/**/packer-auth.env
terraform/*.env

terraform/**/*.tfstate
terraform/**/*.tfvars
terraform/**/*.tfstate.backup
terraform/**/.terraform/*

terraform/*.tfstate.backup
terraform/.terraform/*

packer/haproxy-template/http/ks.cfg

*.pem
*.key
*.crt
*.p12
*.ini
!*.ini.example
*.kubeconfig
*.log
*.tmp
*.swp
*.env

packer/**/version.*

docs/PRE_PUBLISH_CHECKLIST.md
